# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:ArcherBarbarian=false
    B:ArcherPirate=false
    B:BabySkeleton=true
    B:Barbarian=false
    B:Blaze=false
    B:CaveSpider=true
    B:Caveman=false
    B:CavenicBear=false
    B:CavenicCreeper=false
    B:CavenicSkeleton=true
    B:CavenicSpider=true
    B:CavenicWitch=true
    B:CavenicZombie=true
    B:ChiefBarbarian=false
    B:ChiefPirate=false
    B:CrazyCreeper=false
    B:CrazySkeleton=true
    B:CrazySpider=true
    B:CrazyZombie=true
    B:Creeper=false
    B:CrystalTurret=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EntityAnvilPet=false
    B:EntityBedPet=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:MiniQuantumBlaze=false
    B:MiniQuantumEnderman=false
    B:PigZombie=false
    B:Pirate=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:SkySeeker=false
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:babycreeper=false
    B:barako=false
    B:barakoan_barakoana=false
    B:barakoan_player=false
    B:barakoana=false
    B:barakoaya=false
    B:bigbone=false
    B:crazyheater2=false
    B:cyclops=false
    B:devilskullre=false
    B:"draconicevolution:ChaosGuardian"=false
    B:dread_beast=false
    B:dread_ghoul=false
    B:dread_knight=false
    B:dread_lich=false
    B:dread_scuttler=false
    B:dread_thrall=false
    B:ent=false
    B:ferrous_wroughtnaut=false
    B:firemaker=false
    B:foliaath=false
    B:frostmaw=false
    B:giantskeletondesert=false
    B:giantskeletonice=false
    B:giantskeletonjungle=false
    B:giantskeletonnether=false
    B:giantskeletonnormal=false
    B:gorgon=false
    B:grottol=false
    B:if_hydra=false
    B:if_troll=false
    B:illagergolem=false
    B:layer10devil=false
    B:masterofdestruction=false
    B:monsterofthedeep=false
    B:motherspider=false
    B:naga=false
    B:player_ghost=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=false
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:siren=false
    B:spawnerzombie=false
    B:srparasites.ada_arachnida=false
    B:srparasites.ada_bolster=false
    B:srparasites.ada_longarms=false
    B:srparasites.ada_manducater=false
    B:srparasites.ada_reeker=false
    B:srparasites.ada_summoner=false
    B:srparasites.ada_yelloweye=false
    B:srparasites.anc_dreadnaut=false
    B:srparasites.anc_dreadnaut_ten=false
    B:srparasites.anc_overlord=false
    B:srparasites.anc_pod=false
    B:srparasites.beckon_si=false
    B:srparasites.beckon_sii=false
    B:srparasites.beckon_siii=false
    B:srparasites.beckon_siv=false
    B:srparasites.biomass=false
    B:srparasites.bomber_light=false
    B:srparasites.buglin=false
    B:srparasites.carrier_flying=false
    B:srparasites.carrier_heavy=false
    B:srparasites.crux=false
    B:srparasites.grunt=false
    B:srparasites.heed=false
    B:srparasites.host=false
    B:srparasites.incompleteform_medium=false
    B:srparasites.incompleteform_small=false
    B:srparasites.kyphosis=false
    B:srparasites.marauder=false
    B:srparasites.movingflesh=false
    B:srparasites.overseer=false
    B:srparasites.pri_arachnida=false
    B:srparasites.pri_bolster=false
    B:srparasites.pri_devourer=false
    B:srparasites.pri_longarms=false
    B:srparasites.pri_manducater=false
    B:srparasites.pri_reeker=false
    B:srparasites.pri_summoner=false
    B:srparasites.pri_yelloweye=false
    B:srparasites.rupter=false
    B:srparasites.sentry=false
    B:srparasites.sim_adventurer=false
    B:srparasites.sim_bear=false
    B:srparasites.sim_bigspider=false
    B:srparasites.sim_cow=false
    B:srparasites.sim_cowhead=false
    B:srparasites.sim_dragone=false
    B:srparasites.sim_enderman=false
    B:srparasites.sim_horse=false
    B:srparasites.sim_horsehead=false
    B:srparasites.sim_human=false
    B:srparasites.sim_humanhead=false
    B:srparasites.sim_pig=false
    B:srparasites.sim_pighead=false
    B:srparasites.sim_sheep=false
    B:srparasites.sim_sheephead=false
    B:srparasites.sim_villager=false
    B:srparasites.sim_villagerhead=false
    B:srparasites.sim_wolf=false
    B:srparasites.sim_wolfhead=false
    B:srparasites.tendril=false
    B:srparasites.vigilante=false
    B:srparasites.warden=false
    B:srparasites.worker=false
    B:stymphalianbird=false
    B:tconstruct.blueslime=false
    B:thermalfoundation.basalz=false
    B:thermalfoundation.blitz=false
    B:thermalfoundation.blizz=false
    B:twilightforest.adherent=false
    B:twilightforest.armored_giant=false
    B:twilightforest.blockchain_goblin=false
    B:twilightforest.boggard=false
    B:twilightforest.death_tome=false
    B:twilightforest.fire_beetle=false
    B:twilightforest.giant_miner=false
    B:twilightforest.goblin_knight_lower=false
    B:twilightforest.goblin_knight_upper=false
    B:twilightforest.harbinger_cube=false
    B:twilightforest.hedge_spider=true
    B:twilightforest.helmet_crab=false
    B:twilightforest.hostile_wolf=false
    B:twilightforest.hydra=false
    B:twilightforest.ice_crystal=false
    B:twilightforest.king_spider=true
    B:twilightforest.knight_phantom=false
    B:twilightforest.kobold=false
    B:twilightforest.lich=false
    B:twilightforest.lich_minion=true
    B:twilightforest.maze_slime=false
    B:twilightforest.mini_ghast=false
    B:twilightforest.minoshroom=false
    B:twilightforest.minotaur=false
    B:twilightforest.mist_wolf=false
    B:twilightforest.mosquito_swarm=false
    B:twilightforest.naga=false
    B:twilightforest.pinch_beetle=false
    B:twilightforest.redcap=false
    B:twilightforest.redcap_sapper=false
    B:twilightforest.rising_zombie=true
    B:twilightforest.roving_cube=false
    B:twilightforest.skeleton_druid=true
    B:twilightforest.slime_beetle=false
    B:twilightforest.snow_guardian=false
    B:twilightforest.snow_queen=false
    B:twilightforest.stable_ice_core=false
    B:twilightforest.swarm_spider=true
    B:twilightforest.tower_broodling=true
    B:twilightforest.tower_ghast=false
    B:twilightforest.tower_golem=false
    B:twilightforest.tower_termite=false
    B:twilightforest.troll=false
    B:twilightforest.unstable_ice_core=false
    B:twilightforest.ur_ghast=false
    B:twilightforest.winter_wolf=false
    B:twilightforest.wraith=false
    B:twilightforest.yeti=false
    B:twilightforest.yeti_alpha=false
    B:wasp=false
}


